

@mixin price{
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 30px;
    background-color: $theme2-color;
}

@mixin button{
    background-color: $theme-color;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 15px;
}

@mixin back{
    position: relative;
    .background{
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -3;
        background-color: $theme-color;
    }
}

@mixin icon{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius:  15px 15px 0 15px;
   @include hover;
}

@mixin hover{
    transform: scale();
    &:hover{
        transform: scale(1.1);
        transition: ease-in .3s;
}
   
}

@mixin logo{
    font-size: 32px;
        font-family: $title-font;
        p{
            font-size: 32px;
            span:nth-child(1){
                color: $theme-color;
            }
            span:nth-child(2){
                color: $theme2-color;
            }
        }
}